@import "../../../css/kolibri-base.css";

body {
    perspective: 100vw;
}

.card {
    transition: all ease-in-out .5s;
    max-width:  40em;
    margin:     1em auto 2em auto;
    padding:    2em;
    box-shadow: var(--kolibri-box-shadow);
}
h1 {
    text-align: center;
}
.holder {
    margin: 0 3em 0 3em;
}

#component {
    min-width: 200px;
    width: fit-content;
    margin: auto;

    > div {
        margin: 0;
    }
}