@import "../../../css/kolibri-base.css";
@import "../../../css/kolibri-light-colors.css";

body {
    perspective: 100vw;
}

.card {
    max-width:  40em;
    margin:     1em auto 2em auto;
    padding:    2em 4em;
    box-shadow: var(--kolibri-box-shadow);
}

h1 {
    text-align:  center;
    font-family: var(--font-sans-serif), sans-serif;
    margin-top:  0;
}

h3, h4 {
    margin-top: 3rem;
}

.holder {
    min-width: 160px;
    width: fit-content;
    margin: 1rem 0;
}
.holder > div {
    margin: 0;
    width: 100%;
}

.highlighted {
    background-color: #e0e0e0;
}

#componentCity .select-input-component {
    min-width:  400px;
}

#componentImg .select-input-component,
#componentCountry .select-input-component {
    min-width:  320px;
}

#componentImg .options-column {
    width: auto;
}

#componentImg img {
    width:  2rem;
    max-height: 1.3rem;
    object-fit: contain;
}